<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.kestone.eventbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="your.package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MvpApp"
        android:icon="@drawable/app_icon_circular"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon_circular"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.SelectEventActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.registration.RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.login.Forgot_Password"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.splash.ActivitySplash"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.verify.ActivityVerify"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.login.ActivityLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <service android:name=".Service.MyIntentService" />

        <activity android:name=".view.speaker.ActivitySpeakerDetails"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCQxvHvRUSXFnNYlqGxL7Gx5cPGoe8jvfM" />

        <activity
            android:name=".view.venue.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".view.agenda.AddSpeaker"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.stream.AddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.partners.PartnerDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.WebviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".common.ImagePickerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>